
.input {
    display: flex;
    align-items: center;
    justify-content: center;
    width:500px;
}

.input-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}